body {
    background-color: grey;
    color: white;
}

.victoryimg {
    background-image: url("img/Victory.jpg");
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

