.car {
    display: block;
    width: 300px;
}
#car {
    display: block;
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 2;
}

#app {
    position: relative;
    width: 800px;
    height: 800px;

    background-image: url('../img/Road.png');
    background-size: cover;
    border: black solid 8px;
    border-radius: 20px;
    margin: 20px auto;
}

.nextFrame {
    background-image: url('../img/Road2.png') !important;
    background-size: cover;
}

#person_object {
    display: flex;
    position: absolute;
    width: 170px;
    height: 170px;
    border: solid rgb(85, 85, 85) 4px;
    border-radius: 15px;
    justify-content: center;
    background-color: white;
    top: 18%;
    left: 15%;
    z-index: 3;
}

#my_greetings {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 4;
    background-color: rgba(221, 221, 221, 0.555);
    width: 500px;
    height: 200px;
    border: solid rgb(49, 49, 49) 5px;
    border-radius: 15px;
    left: 18%;
    bottom: 10%;
    justify-content: center;
}


#person_answer {
    display: flex;
    position: absolute;
    z-index: 4;
    background-color: rgba(221, 221, 221, 0.555);
    width: 250px;
    height: 150px;
    border: solid rgb(49, 49, 49) 5px;
    border-radius: 15px;
    left: 40%;
    top: 1%;
    color: black;
    font-weight: 800;
    font-size: 22px;
    justify-content: center;
    text-align: middle;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.greet {
    display: flex;
    background-color: white;
    height: 50px;
    width: 400px;
    color: black;
    font-weight: 800;
    font-size: 30px;
    justify-content: center;
    text-align: middle;
    align-items: center;
    margin: auto;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    border: solid black 3px;
    border-radius: 10px;
}

.person_name {
    display: flex;
    position: absolute;
    top: 2%;
    left: 2%;
}

.audio_controls {
    display: flex;
    justify-content: center;
}